<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax input</title>
</head>
<body>
<h1>The AJAX Input file</h1>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

{% load static %}
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "{% static "input.txt" %}", true);
  xhttp.send();
}
</script>
</body>
</html>